@import url('https://fonts.cdnfonts.com/css/play');
.stop{
    border-color: rgb(84, 182, 154) ;
    background-color:rgb(84, 182, 154) ;
    color: white;
}
.stop:hover{
    background-color: rgb(61, 152, 126);
}


.add_room--wrapper {
    position: relative;
    display: inline-block;
    width: 2rem;
    margin-left: 1.2rem;
    margin-top: 2rem;
  }
  
  .add_room--wrapper::after {
    content: 'Thêm ưu đãi';  /* Nội dung tooltip */
    position: absolute;
    bottom: 2rem;  /* Đặt tooltip phía trên icon */
    left: 2rem;
    transform: translateX(-50%);
    background-color: #ca1c50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1;
    /* font-family: 'Play', sans-serif !important;  */
  }
  .sv_selec:active{
    border-color: rgb(37, 164, 249);
  }
  
.add_room--wrapper:hover::after {
    opacity: 1;
    visibility: visible;
  }

.add_room--icon{
    transition: transform 0.3s ease; 
}

.add_room--icon:hover{
    transform: scale(1.3);
}

.update_room--tool{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    width: 94%;
    font-family: 'Play', sans-serif !important; 
}

.input_search_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 2rem; */
}

.update_room--search{
    width: 80%;
}

.search__icon{
    width: 15%;

}
.btn-css{
    background-color: #2375c7!important;

    border-color: #2375c7 !important;
}

.btn-css:hover{
    background-color: #204468!important;
    /* color: black !important;  */
    border-color: #204468 !important;
}

.room_pagination{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
 }

.room_pagination .page-item {
    margin: 0 5px;            /* Khoảng cách giữa các item */
}

.page-link-css{
    color: #2375c7;           /* Màu cho liên kết trang */
    text-decoration: none;    /* Xóa gạch chân */
    padding: 0.5rem 0.75rem;  /* Điều chỉnh padding */
    border-radius: 5px;       /* Bo góc các nút */
    border: 1px solid #dee2e6;/* Đường viền xung quanh các nút */
}

.room_pagination .page-item.active .page-link {
    background-color: #2375c7;/* Màu nền của nút trang hiện tại */
    color: white;             /* Màu chữ nút trang hiện tại */
    border-color: #2375c7;    /* Màu viền nút trang hiện tại */
}

.room_pagination .page-item.disabled .page-link {
    color: #6c757d;           /* Màu cho nút bị vô hiệu hóa */
    pointer-events: none;
}

.update_room--table {
    border-spacing: 0 15px;
    
}
.update_room--table {
    border-spacing: 0 15px; /* Tạo khoảng cách giữa các hàng */
    border-collapse: separate; 
    font-family: 'Play', sans-serif !important;
    margin-left: 1rem;
    margin-top: 1rem;
}
.update_room--tbody tr{

    box-shadow: 0 4px 10px rgba(32, 68, 104, 0.3) !important;
}

.back_room{

    margin-left: 2rem !important;
    /* color: rgb(221, 72, 72); */
    border: 2px solid rgb(221, 72, 72);
    transition: transform 0.3s ease; 
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 3rem;
  }
  
  .back_room:hover {
    transform: scale(1.2);
    border-color: rgb(21, 142, 104);
    color: rgb(21, 142, 104);
  }
  
  .back-icon{
    color: rgb(221, 72, 72); 
    font-size: 1.3rem;
  
  }
  
.back_room:hover .back-icon{
    color: rgb(21, 142, 104);
}

.swal2-background-custom{
    border: 2px solid black; 
    border-radius: 1rem;   
}

