@import url('https://fonts.cdnfonts.com/css/play');

.wrapper_detail{
    width: 100%;
    height: 65vh;
    padding: 3rem;
    /* margin-top: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Play', sans-serif !important;
}

.sv_detail{
    width: 60%;
    padding: 1rem;
    box-shadow: 0 4px 13px rgba(32, 68, 104, 0.3); 
    height: 70%;
}

.sv_menu{
    width: 25%;
}

.sv_tool{
    width: 4.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room_pagination{
    margin-top: 2rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.room_pagination .page-item.active .page-link {
    background-color: #2375c7;
    color: white;
    border-color: #2375c7;
}

.add_room--wrapper {
    margin-left: 2rem ;
    margin-top: 1.5rem ;
    position: relative;
    display: inline-block;
}

.add_room--wrapper::after {
    content: 'Thêm dịch vụ'; 
    position: absolute;
    bottom: 2.3rem;  /* Đặt tooltip phía trên icon */
    left: 3rem;
    transform: translateX(-50%);
    background-color: #ca1c50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.7rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1;
    font-family: 'Play', sans-serif !important;
}

.add_room--wrapper:hover::after {
    opacity: 1;
    visibility: visible;
  }
  
.add_room--icon{
    transition: transform 0.3s ease; 
}
  
.add_room--icon:hover{
    transform: scale(1.3);
}

.back_room{
    margin-left: 2rem !important;
    margin-top: 2rem !important;
    /* color: rgb(221, 72, 72); */
    border: 2px solid rgb(221, 72, 72);
    transition: transform 0.3s ease; 
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 3rem;
}
  
  .back_room:hover {
    transform: scale(1.2);
    border-color: rgb(21, 142, 104);
    color: rgb(21, 142, 104);
}
  
.back-icon{
    color: rgb(221, 72, 72); 
    font-size: 1.3rem;
  
}
.back_room:hover .back-icon{
    color: rgb(21, 142, 104);
}

.swal2-background-custom{
    border: 2px solid black; 
    border-radius: 1rem;   
  }
