.wrapper_history{
    width: 100%;
}
.div_parent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    /* margin-left: 2rem; */
    width: 100%;
}

.booking_form{
    width: 45%;
    border: 2px solid rgb(153, 210, 244);    
    /* border: 2px solid #243b61;     */
}
/* .spacer{
    
    border-right: 2px solid #204468;
} */
.services{
    width: 45%;
}
.div_child{
    width: 100%;
    border-bottom: 1px solid cadetblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bill{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 70%;
    margin-left: 14rem;
    /* border: 2px solid rgba(32, 68, 104, 0.3); */
    padding: 2rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(32, 68, 104, 0.3); /* Thêm hiệu ứng box-shadow nhẹ */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.bill:hover {
    transform: scale(1.05); /* Hiệu ứng phóng to nhẹ khi hover */
    box-shadow: 0 8px 16px rgba(32, 68, 104, 0.4); /* Tăng cường box-shadow khi hover */
}

span_child1, .span_child {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Giãn đều khoảng cách giữa các phần tử */
    align-items: center;
    margin-left: 1rem;
    width: 100%;

}
.span_child{
    margin-bottom: 0.6rem;
}
.span_child p, .span_child1 p {
    width: 45%; /* Đặt chiều rộng cố định cho các phần tử p để chúng đều nhau */
    text-align: left;
    margin: 0.5rem 0;
}

.span_child1 p span, .span_child p span {
    display: inline-block;
    margin-left: 5px;
}
.booking_content{
    margin-top: 2rem;

}

h4{
    margin-left: 1rem;
    margin-top: 1rem;
}

.status{
    font-weight: bold;
    color: rgb(230, 76, 76);
}

.room_pagination {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    justify-content: center;  /* Căn giữa theo chiều ngang */
    list-style: none;         /* Xóa bỏ dấu đầu dòng của danh sách */
    padding: 0;             
    margin-top: 20px;         /* Thêm khoảng cách phía trên */
    margin-bottom: 30px;         /* Thêm khoảng cách phía trên */
    /* width: 30%; */
}

.room_pagination .page-item {
    margin: 0 5px;            /* Khoảng cách giữa các item */
}

.room_pagination .page-link {
    color: #2375c7;           /* Màu cho liên kết trang */
    text-decoration: none;    /* Xóa gạch chân */
    padding: 0.5rem 0.75rem;  /* Điều chỉnh padding */
    border-radius: 5px;       /* Bo góc các nút */
    border: 1px solid #dee2e6;/* Đường viền xung quanh các nút */
}

.room_pagination .page-item.active .page-link {
    background-color: #2375c7;/* Màu nền của nút trang hiện tại */
    color: white;             /* Màu chữ nút trang hiện tại */
    border-color: #2375c7;    /* Màu viền nút trang hiện tại */
}

.room_pagination .page-item.disabled .page-link {
    color: #6c757d;           /* Màu cho nút bị vô hiệu hóa */
    pointer-events: none;
}

.evaluate{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.status-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
#commentIs {
    width: 100%;
    height: 15vh;
    margin-top: 2rem;
    color: white
}
#comment {
    width: 100%;
    height: 15vh;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#edit_content{
    color:rgb(218, 218, 218);
    font-style: italic;
    font-size: 16px;
    margin-left: 16rem;
   
}
#created_at_ev{
    color:rgb(218, 218, 218);
    font-style: italic;
    font-size: 15px;
    margin-left: 19rem;
   
}
#updated_at_ev{
    color:rgb(218, 218, 218);
    font-style: italic;
    font-size: 15px;
   
}
.star-ratingIs{
    margin-right: 0.9rem;
}
.star-rating{
    margin-right: 0.9rem;
}

.modal-title{
    text-align: center;
    color: white;
}

.modal-content{
    height: 62vh;
    background-color: rgb(48, 84, 126);
    border: 2px solid black;
}
.model-ev{
    height: 55vh !important;
    background-color: rgb(48, 84, 126) !important;
    border: 2px solid black !important;
}

.close{
    color: white
}

.tool{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool_button{
    width: 4rem;
    border-radius: 8px;
    background-color: rgb(53, 189, 116);
    color: white;
}

.tool_button:hover{
    
    background-color: rgb(38, 153, 92);
    color: white;
}
.tool_button2{
    width: 6rem;
    border-radius: 8px;
    background-color: rgb(53, 189, 116);
    color: white;
}
.tool_button2:hover{
    
    background-color: rgb(38, 153, 92);
    color: white;
}

.breadcrumb-section{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}