.room_registraion--form{
    /* background-color: #30547e ; */
    /* background-color: rgb(216, 213, 213) ; */
    color: rgb(235, 235, 235) !important;
}

.back_room--button{
    width: 2.5rem;
    height: 2rem;
  
    border-radius: 10%;
    background-color: rgb(209, 49, 49);
    transition: transform 0.3s ease; /* Hiệu ứng chuyển động mượt */
}


.back_room--button:hover {
    transform: scale(1.1); /* Phóng to 1.2 lần khi hover */
}

.save_room--button{
    background-color: rgb(0, 128, 81) !important;
    border: 0.2px solid rgb(0, 128, 81);
    transition: transform 0.3s ease; /* Hiệu ứng chuyển động mượt */
}


.save_room--button:hover {
    transform: scale(1.1); /* Phóng to 1.2 lần khi hover */
}

.alert-danger{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(209, 43, 43);
    height: 1.5rem;
    font-size: 1rem;
  
}

.alert-success{
    color: rgb(20, 112, 80);
}