.div_parent {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.div_child {
    width: 50rem;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(32, 68, 104, 0.3); /* Thêm hiệu ứng box-shadow nhẹ */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Thêm chuyển động khi hover */
}


.div_child h4 {
    margin-bottom: 1.5rem;
}

.span_child1, .span_child {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Giãn đều khoảng cách giữa các phần tử */
    align-items: center;
    margin-left: 1rem;
    width: 100%;
}

.span_child p, .span_child1 p {
    width: 45%; /* Đặt chiều rộng cố định cho các phần tử p để chúng đều nhau */
    text-align: left;
    margin: 0.5rem 0;
}

.span_child1 p span, .span_child p span {
    display: inline-block;
    margin-left: 5px;
}



.breadcrumb-section{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.status{
    /* background-color:#204468; */
    color: #da3e2d;
    border-radius: 50% ;
    /* height: 4rem;
    padding: 0.7rem;  */
    /* display: inline-block;  */
    line-height: 4rem;
    vertical-align: middle;
}

