.profile_table{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_table form{
    width: 85%;
}
.profile-booking_history{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 16rem 0 1rem;

}
.div_edit_profile{
    width:  14%;
}
.div_see_form{
    width: 30%;
    margin-left: 10rem;
}
.edit_info--button{
    background-color:#3873b2;
    border-color: #1b5996;
    /* background-color:#32846a; */
    border: 2px solid rgb(255, 255, 255); /* Đổi màu và độ dày của viền tại đây */
    border-radius: 5px; 
    color: white;
    /* margin-left: 39rem; */
    margin-bottom: 1rem;
    width: 100%;
    height: 2.5rem;
}

.edit_info--button:hover{
    background-color: #1b5996 ;
    border-color: #3873b2 ;
    cursor: pointer !important;
}

.see_form{
    color: #fff !important;
    background-color: #88b8eb !important;
    border-color: #195a9f !important;
    /* margin-top: 17.5rem ; */
}

.see_form:hover{
    background-color: #1b5996 !important;
    border-color: #1b5996 !important;
}

.input_profile{
    width: 60% !important;
    text-align: center;
}

.div_profile{
    width: 90% !important;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 2rem;
}

.label_profile{
    width: 20%;
}

#icon_profile{
    width: 6%;
}
