/* specialOffers.css */

.wrapper_ud {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2rem;
  
}

.specialOffers {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 30%;
}

.spo_flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.spo_flex p {
    margin: 0;
    color: #333;
}

.specialOffers p span {
    font-weight: bold;
}

.small-image {
    width: 150px;
    height: 100px;
    padding-top: 0px !important;
}

.time{
    margin-bottom: 1.2rem !important;
}
.special_of{
    margin-bottom: 3rem !important;
}


.breadcrumb-section{
    padding-top: 0px !important;
    padding-bottom: 50px !important;
}

