body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    /* background-image: url("https://images.pexels.com/photos/4065170/pexels-photo-4065170.jpeg?auto=compress&cs=tinysrgb&w=600") ; */
     /* background-image: url("https://images.pexels.com/photos/17573471/pexels-photo-17573471/free-photo-of-n-c-mau-xanh-da-tr-i-ch-t-l-ng-thong-thoang.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");   */
    /* background-image: url("/images/background__login.jpg");*/
   
    /* background-repeat: no-repeat;  */
    /* background-attachment: fixed; */
    /* background-position: center; */ 
}
.alert-register{
    font-family: sans-serif;
    text-align: center;
}
.alert-success{
    font-family: sans-serif;
    background-color: #209f71;
    color: rgb(5, 54, 36);
    text-align: center;
}
.user_gender{
    border: 2px solid #3498db;
}

.div_user {
  
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử */
    align-items: center; /* Căn giữa theo chiều dọc */
   /* margin-bottom: 1rem; Giãn cách giữa các input */
}

input[type="text"], input[type="password"], select {
    flex: 1; /* Đảm bảo input chiếm không gian còn lại */
    padding: 0.5rem; /* Thêm padding cho input */
    /* border: 1px solid #ccc; Thêm border cho input*/
    border-radius: 20px; /*Bo góc cho input */
}

/* .error_username {
    margin-left: 1rem; 
    white-space: nowrap; 
} */

.address{
    
    background-color: black;
    opacity: 0.9;
    color: rgb(154, 153, 153);
    border: 3px solid #149cd7;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 60%;
    padding-top: 1rem;
    border-radius: 20px;
    box-sizing: border-box;
}


#myVideo {
    /* position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%; */

        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%; 
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        /* background-size: cover;  */
    }
.box-register{
    margin-top: 0.5rem !important;
}
.pass_icon{
    display: flex;
    flex-direction: row;
    width:70% !important ;
    align-items: center;
    margin-left: 4.8rem !important;
   
}
.tool_pass{
    display: flex;
    flex-direction: row;
    width:100% !important ;
    align-items: center;
    align-content: space-between !important;
    margin-left: 0.4rem !important;
}
.show_pass{
    width: 60%;
}

.div_remember{
    width: 30%;
}

.text__pass{
    color: white;
    width: 60%;
}

.register_note{
    color: rgb(169, 168, 168) !important;
    font-size: 0.8rem;
}

.card{
    margin-bottom:20px;
    border:none;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 56%;
    background: black;
    opacity:0.9;
    ;
    text-align: center;
    /* transition: 0.25s; */
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}
.text-muted{
    color: white !important;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}