.wrapper_table{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 7rem !important;
   height: 60vh;
}

.evaluate_table{
    width: 80%;
    height: 100%;
}

.more_detail{
    text-decoration: none;
    
    color:rgb(70, 148, 200);
}
.more_detail:hover{
    text-decoration: none;
    color:rgb(40, 103, 145);    
}

.more_detail_dis{
    color:rgb(154, 154, 154);
}

.back_room{

    margin-left: 2rem !important;
    /* color: rgb(221, 72, 72); */
    border: 2px solid rgb(221, 72, 72);
    transition: transform 0.3s ease; 
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 3rem;
  }
  
  .back_room:hover {
    transform: scale(1.2);
    border-color: rgb(21, 142, 104);
    color: rgb(21, 142, 104);
  }
  
  .back-icon{
    color: rgb(221, 72, 72); 
    font-size: 1.3rem;
  
  }
  .back_room:hover .back-icon{
    color: rgb(21, 142, 104);
  }
  